name: Build and Deploy to Firebase

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      
      - name: Install common dependencies
        run: cd common && npm install
      
      - name: Create AccessKey.js
        run: echo 'export default ""' > common/src/other/AccessKey.js
        
      - name: Install web-app dependencies
        run: cd web-app && npm install
      
      - name: Build web-app
        run: cd web-app && npm run build
        env:
          CI: false
      
      - name: Deploy to Firebase Hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          projectId: imobi-taxi
          channelId: live
